*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.cardheading{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}